
<div class="rows" id="addressContainer">
<!-- header container -->
    <div class="col-md-12">
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
      <div class="col-md-8">
        <h2 class="viewHeadings"> Register </h2>
      </div>
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
    </div>
<!-- address inputs container -->
    <div class="col-md-12" id="addAddressContainer">
      <div class="col-md-1">
<!-- empty div for spacing -->
      </div>
      <table class="col-md-10">
        <tr>
          <td>
            <label class="inputLabels"> First Name </label>
              <input class="addressInputs" type="text" ng-model="ac.newUser.firstName" style="text-transform: capitalize">
          </td>
        </tr>
        <tr>
          <td>
            <label class="inputLabels"> Last Name </label>
              <input class="addressInputs" type="text" ng-model="ac.newUser.lastName" style="text-transform: capitalize">
          </td>
        </tr>
        <tr>
          <td>
            <label class="inputLabels"> Street Address </label>
              <input class="addressInputs" type="text" ng-model="ac.newUser.streetAddress" style="text-transform: capitalize">
          </td>
        </tr>
        <tr>
          <td>
            <label class="inputLabels"> City </label>
              <input class="addressInputs" type="text" ng-model="ac.newUser.city" style="text-transform: capitalize">
          </td>
        </tr>
        <tr>
          <td>
            <label class="inputLabels"> State </label>
              <input class="addressInputs" type="text" ng-model="ac.newUser.state" style="text-transform: uppercase">
          </td>
        </tr>
        <tr>
          <td>
            <label class="inputLabels"> Zip Code </label>
              <input class="addressInputs" type="number" ng-model="ac.newUser.zipCode">
          </td>
        </tr>
        <tr>
          <td>
            <div id="addressButton">
              <button type="button" ng-click="ac.addNewUser(ac.newUser)"> Register </button>
            </div>
          </td>
        </tr>
      </table>
      <div class="col-md-1">
<!-- empty div for spacing -->
      </div>
  </div>
</div>
