
<!-- footer content container -->
  <div class="rows" id="customOrderContainer">
    <h2 class="col-md-12 viewHeadings"> Custom Order </h2>
<!-- rod order input container -->
    <div class="col-md-12 customInputs">
      <table>
        <tr>
          <td>
            <div>
              <label> Blank Model </label>
                <select ng-model="coc.order.blankModel">
                  <option value='CUSTOM / Noodle'> Noodle </option>
                  <option value='CUSTOM / Gill Seeker'> Gill Seeker </option>
                  <option value='CUSTOM / Perch Pounder'> Perch Pounder </option>
                  <option value='CUSTOM / Walleye Stinger'> Walleye Stinger </option>
                  <option value='CUSTOM / Pantum'> Pantum </option>
                  <option value='CUSTOM / Pannie Dropper'> Pannie Dropper </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Blank Length </label>
                <select ng-model="coc.order.blankLength">
                  <option value='21'> 21" </option>
                  <option value='22'> 22" </option>
                  <option value='23'> 23" </option>
                  <option value='24'> 24" </option>
                  <option value='25'> 25" </option>
                  <option value='26'> 26" </option>
                  <option value='27'> 27" </option>
                  <option value='28'> 28" </option>
                  <option value='29'> 29" </option>
                  <option value='30'> 30" </option>
                  <option value='31'> 31" </option>
                  <option value='32'> 32" </option>
                  <option value='33'> 33" </option>
                  <option value='34'> 34" </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Handle Material </label>
                <select ng-model="coc.order.handleMaterial">
                  <option value="Cork"> Cork </option>
                  <option value="EVA"> EVA </option>
                  <option value="3D Printed"> 3D Printed </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Handle Length </label>
                <select ng-model="coc.order.handleLength">
                  <option value='3'> 3" </option>
                  <option value='5'> 5" </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Guides </label>
                <select ng-model="coc.order.guides">
                  <option value="Standard Black"> Standard Black </option>
                  <option value="Standard Chrome"> Standard Chrome </option>
                  <option value="Rec Recoil Black"> Rec Recoil Black </option>
                  <option value="Rec Recoil Standard"> Rec Recoil Standard </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Thread Color / Main </label>
                <select ng-model="coc.order.threadColorMain">
                  <option ng-repeat="color in coc.allThreads.list" value="{{color.image}}"> {{color.color}} </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <label> Thread Color / Trim </label>
                <select ng-model="coc.order.threadColorTrim">
                  <option ng-repeat="color in coc.allThreads.list" value="{{color.image}}"> {{color.color}} </option>
                </select>
            </div>
          </td>
          <td>
            <div>
              <button type="button" ng-click="coc.submitNewOrder(coc.order)"> Submit Order </button>
            </div>
          </td>
        </tr>
      </table>
<!-- rod order input container -->
    </div>

    <div class="col-md-12">
      <div class="col-md-8">
        
      </div>
      <div class="col-md-4" id="imageTableContainer">
        <table>
          <tr>
            <td><img ng-src="{{coc.order.threadColorTrim}}" width="10" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorMain}}" width="40" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorTrim}}" width="4" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorMain}}" width="4" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorTrim}}" width="4" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorMain}}" width="4" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorTrim}}" width="4" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorMain}}" width="40" class="threadImage"></td>
            <td><img src="{{coc.order.threadColorTrim}}" width="10" class="threadImage"></td>
          </tr>
        </table>
      </div>
<!-- thread colors container -->
    </div>

<!-- footer content container -->
  </div>
