
  <div class="rows" id="homeContainer">
<!-- header container -->
    <div class="col-md-12">
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
      <div class="col-md-8">
        <h2 class="viewHeadings"> Home </h2>
      </div>
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
    </div>


    <div class="col-md-12">
      <div class="col-md-2">
      <!-- empty container for spacing -->
      </div>
      <!-- el dente -->
      <div class="col-md-3">
        <div id="iceRodCards">
          <a href="#!specific_rod/3">
            <div><img ng-src="/assets/images/iceRods/elDente.jpg" class="iceRodImages"> </div>
            <div><strong> Rod Model: </strong> El Dente </div>
            <div><strong> Blank Length: </strong> 28" </div>
            <div><strong> Handle Length: </strong> 5" </div>
            <div><strong> USD: </strong> $90.00 </div>
          </a>
      </div>
      </div>
      <!-- longboard -->
      <div class="col-md-3">
        <div id="iceRodCards">
          <a href="#!specific_rod/4">
            <div><img ng-src="/assets/images/iceRods/longBoard.jpg" class="iceRodImages"> </div>
            <div><strong> Rod Model: </strong> Long Board </div>
            <div><strong> Blank Length: </strong> 32" </div>
            <div><strong> Handle Length: </strong> 5" </div>
            <div><strong> USD: </strong> $100.00 </div>
          </a>
        </div>
      </div>
      <!-- walleye stinger -->
      <div class="col-md-3">
        <div id="iceRodCards">
          <a href="#!specific_rod/7">
            <div><img ng-src="/assets/images/iceRods/walleyeStinger.jpg" class="iceRodImages"> </div>
            <div><strong> Rod Model: </strong> Walleye Stinger </div>
            <div><strong> Blank Length: </strong> 32" </div>
            <div><strong> Handle Length: </strong> 5" </div>
            <div><strong> USD: </strong> $100.00 </div>
          </a>
        </div>
      </div>
      <div class="col-md-1">
      <!-- empty container for spacing -->
      </div>
    </div>
    
  </div>
