
  <div class="rows" id="orderContainer">

    <h2 class="col-md-12 viewHeadings"> Order </h2>

    <div class="col-md-12">
<!-- left side -->
      <div class="col-md-1">
<!-- here for centering content -->
      </div>
<!-- middle contect -->
      <div class="col-md-10">
        <div class="col-md-3" ng-repeat="rods in oc.allIceRodModels.list">
          <div ng-click="oc.specificIceRod(rods)" id="iceRodCards">
            <div><img ng-src="{{rods.image}}" class="iceRodImages"> </div>
            <div><strong> Rod Model: </strong> {{rods.model}} </div>
            <div ng-show="rods.model !== 'Custom Build'">
              <div><strong> Rod Length: </strong> {{rods.blanklength}}" </div>
              <div><strong> Handle Length: </strong> {{rods.handlelength}}" </div>
            </div>
            <div ng-show="rods.model !== 'Custom Build'"><strong> USD: </strong> ${{rods.price}} </div>
            <div ng-show="rods.model === 'Custom Build'"><strong> Starting At: </strong> USD ${{rods.price}} </div>
          </div>
        </div>
      </div>
<!-- right side -->
      <div class="col-md-1">
<!-- here for centering content -->
      </div>
    </div>
    
  </div>
