
  <div class="rows" id="orderContainer">

    <h2 class="col-md-12 viewHeadings"> Order View </h2>

    <div class="col-md-12">
<!-- left side -->
      <div class="col-md-1">
<!-- here for centering content -->
      </div>
<!-- middle contect -->
      <div class="col-md-10">
        <div class="col-md-3" ng-repeat="rods in oc.iceRodModels.list">
          <div ng-click="oc.specificIceRod(rods)">
            <div><img src="assets/images/iceRods/miniBite.jpg" class="iceRodImages"> </div>
            <div> {{rods.model}} </div>
            <div> {{rods.price}} </div>
          </div>
        </div>
      </div>
<!-- right side -->
      <div class="col-md-1">
<!-- here for centering content -->
      </div>
    </div>

  </div>
