
  <div class="rows" id="showroomContainer">
<!-- header container -->
    <div class="col-md-12">
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
      <div class="col-md-8">
        <h2 class="viewHeadings"> Showroom </h2>
      </div>
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
    </div>

    <div class="col-md-12">

      <div class="col-md-12">
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
        <div class="col-md-6">
          <h2 class="viewHeadings"> Ice Rod Tiger Wraps </h2>
        </div>
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
      </div>

      <div class="col-md-12">
        <!-- tiger wrap content goes here -->
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
        <div class="col-md-6">
          <h2 class="viewHeadings"> Ice Rod Weaves </h2>
        </div>
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
      </div>

      <div class="col-md-12">
        <!-- ice rod weave content goes here -->
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
        <div class="col-md-6">
          <h2 class="viewHeadings"> Random Ice Rods </h2>
        </div>
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
      </div>

      <div class="col-md-12">
        <!-- ice rod random content goes here -->
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
        <div class="col-md-6">
          <h2 class="viewHeadings"> Long Rods </h2>
        </div>
        <div class="col-md-3">
  <!-- empty div for spacing -->
        </div>
      </div>

      <div class="col-md-12">
        <!-- long rod content goes here -->
      </div>


    </div>

  </div>
