
  <div class="">
    <h2 class="col-md-12 viewHeadings"> Specific Rod </h2>
      <div class="">
        {{src.id}}
      </div>
      <div class="">
        {{src.specificIceRod}}
      </div>
      <div class="">
        {{src.blanklength}}
      </div>
      <div class="">
        {{src.handlematerial}}
      </div>
      <div class="">
        {{src.handlelength}}
      </div>
      <div class="">
        <img ng-src="{{src.image}}">
      </div>
      <div class="">
        {{src.price}}
      </div>
  </div>
