
  <div class="rows">
    <!-- <h2 class="col-md-12 viewHeadings"> Warranty </h2> -->
    <div class="col-md-12" id="warrantyContainer">
<!-- left column -->
      <div class="col-md-2">

      </div>
<!-- middle columns -->
      <div class="col-md-8">
        <div class="qaDivs">
          <h2>
            WHAT IS THE WARRANTY ON MY CUSTOM ROD?
          </h2>
          <h5>
            CS Offers a limited lifetime manufacturers warranty; what this means is we will </br>
            replace the product if there is a determination that the blank was defective. </br>
            While 99% of breakage occurs due to misuse, and all of our rods are hand made </br>
            by artisans. typically our rods dont leave our shop unless they meet our strict </br>
            quality control standards.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            HOW DO I CARE FOR MY NOODLE ROD?
          </h2>
          <h5>
            There are a few tricks, general steps you can take to preserve the life of your noodle rod. </br>
            Firstly, it's not a hockey stick Gretzky! no high sticking. Secondly, hook keepers are placed </br>
            on your rod for hole hopping Not for storage. your noodle is extruded glass and if stored loaded, </br>
            eventually it will retain memory (be bent). Always cut your jigs off the line and store unloaded. </br>
            Thirdly, Overeeling if you over reel your jig and jam it into the tip guide, your rod will bend </br>
            in a way that will most likely crack the tip. it may not break right away, but it will break eventually. </br>
            (not covered) if your rod breaks or cracks between the first and second guide, this has most likely occured.</br>
            BE CAREFUL and your high end fish slaying machine will last for years to come.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            WHAT IS YOUR LEAD TIME ON CUSTOM RODS?
          </h2>
          <h5>
            That entirely depends on the season, and workload. Typically we run about 3 weeks, and in the busy times </br>
            (December to March) we run as much as 5-6 weeks.
          </h5>
        </div>
      </div>
<!-- left column -->
      <div class="col-md-2">

      </div>
    </div>
  </div>
