
  <div class="rows">
<!-- header container -->
    <div class="col-md-12">
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
      <div class="col-md-8">
        <h2 class="viewHeadings"> Warranty </h2>
      </div>
      <div class="col-md-2">
<!-- empty div for spacing -->
      </div>
    </div>
<!-- warrant details     -->
    <div class="col-md-12" id="warrantyContainer">
      <div class="col-md-2">
<!-- left column -->
      </div>
      <div class="col-md-8">
        <div class="qaDivs">
          <h2>
            WHAT IS THE WARRANTY ON MY CUSTOM ROD?
          </h2>
          <h5>
            CS Offers a limited lifetime manufacturers warranty; what this means is we will
            replace the product if there is a determination that the blank was defective.
            While 99% of breakage occurs due to misuse, and all of our rods are hand made
            by artisans. typically our rods dont leave our shop unless they meet our strict
            quality control standards.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            HOW DO I CARE FOR MY NOODLE ROD?
          </h2>
          <h5>
            There are a few tricks, general steps you can take to preserve the life of your noodle rod.
            Firstly, it's not a hockey stick Gretzky! no high sticking. Secondly, hook keepers are placed
            on your rod for hole hopping Not for storage. your noodle is extruded glass and if stored loaded,
            eventually it will retain memory (be bent). Always cut your jigs off the line and store unloaded.
            Thirdly, Overeeling if you over reel your jig and jam it into the tip guide, your rod will bend
            in a way that will most likely crack the tip. it may not break right away, but it will break eventually.
            (not covered) if your rod breaks or cracks between the first and second guide, this has most likely occured.
            BE CAREFUL and your high end fish slaying machine will last for years to come.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            WHITE AND METALLIC THREADS
          </h2>
          <h5>
            Though white threads look cool, they never truely turn out white.  Rule of thumb, most blanks are black or dark colored.
            When a white thread or light colored thread wrap is applied to the blank with finish, the finish soaks into the thread making
            white transparent.  The only way to make a white thread stay "White" is to add color preserver to the thread wraps (see below for details about using color preserver).
            Metallic thread is weak in strength compaired to nylon thread.  For guide wraps, the thread coupled with finish is the structural integrity for the guide.
            It is important that the guide foot adhears and has all the structural strength possible to maximize the life of the fishing rod.
            Matallic threads might look nice, but they should only be used as trim bands or for decorative wraps that do not offer structural support.
            Metallic guide wraps are not an option with my rods.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            GUIDE WRAPS WITH COLOR PRESERVER
          </h2>
          <h5>
            Color Preserver is a liquid that is applied directly onto thread wraps.  The purpose of color preserver is to create a barrier from the finish.
            That being said, color preserver applied to any wrap, that requires structural support, is being compromised by the use of color preserver.
            The thread wraps offer alot of the guide bonding and strength from the guide wraps.  The barrier that is created with color presever, makes the finished
            procduct weak because the finish is not able to soak into the threads for maximum strength.  I will NOT use color preserver on guide wraps.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            WHAT SHOULD I EXSPECT WHEN ORDERING A TIGER WRAP?
          </h2>
          <h5>
            Tiger wraps are time consuming, difficult to wrap and the finished product is unpredictable.
            The process to making a tiger wrap consists of multiple layers of thread in which each layer
            also has multiple colors of thread. Tiger wraps can have as few as 2 colors in each layer to as many
            as 5 colors per layer.  Between each layers are three coats of finish. When picking colors for a tiger wrap,
            its best to pick colors that have high contrast and are NOT white, neon colors or tinsel. Colors generally mute and darken
            after final coats of finish are applied.
          </h5>
        </div>
        <div class="qaDivs">
          <h2>
            WHAT IS YOUR LEAD TIME ON CUSTOM RODS?
          </h2>
          <h5>
            That entirely depends on the season, and workload. Typically we run about 3 weeks, and in the busy times
            (December to March) we run as much as 5-6 weeks.
          </h5>
        </div>
      </div>
<!-- right column -->
      <div class="col-md-2">

      </div>
    </div>
  </div>
