/*////////////////////////
//    COLOR SCHEME      //
////////////////////////*/

/* view main headings, nav bar and footer */
    /* bachground-color: #494949; */
    /* color: #24ee08: */







/*////////////////////////
//        GLOBAL        //
////////////////////////*/

/*all controller H2 headings*/
.viewHeadings {
  text-align: center;
  font-family: serif;
  font-size: 35px;
  background-color: #494949;
  color: #24ee08;
  border: 3px solid #000000;
  border-radius: 20px;
  height: 50px;
  padding: 3px 0px 0px 0px;
  margin: 50px 0px 50px 0px;
}

.quantityInputs {
  width: 40px;
}

.checkbox {
  height: 40px;
  width: 40px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}







/*////////////////////////
//        HEADER        //
////////////////////////*/

#headerContainer {
  text-align: center;
  /*background-image: url('/assets/images/background.png');*/
  background-color: #c1c1c1;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150px;
}

#displayNameDiv {
  text-align: left;
  margin: 20px 0px 0px 7px;
}

#headerMainHeader {
  font-size: 40px;
  font-family: serif;
  padding: 10px 0px 0px 0px;
}

#adminIconContainer {
  text-align: left;
  margin: 30px 0px 0px 7px;
}

#adminIcon {
  height: 30px;
  width: 30px;
}

#adminIcon:hover {
  cursor: pointer;
}

.loginIcon {
  height: 22px;
  width: 22px;
}

#cartDiv {
  text-align: right;
  margin: 40px 20px 0px 0px;
}

#itemAmount {
  font-size: 20px;
}

#cartIcon {
  height: 30px;
  width: 30px;
}

#cartIcon:hover {
  cursor: pointer;
  text-decoration: none;
}

.divHover {
  text-align: right;
  margin: 20px 10px 0px 0px;
}

.divHover:hover {
  cursor: pointer;
}

.authPhoto {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}







/*////////////////////////
//        NAV BAR       //
////////////////////////*/

#navBarContainer {
  display: inline-block;
  text-align: center;
  background-color: #494949;
  height: 40px;
  padding: 10px 0px 20px 0px;
}

.navButtons {
  color: #24ee08;
}









/*////////////////////////
//         HOME         //
////////////////////////*/

#homeContainer {

}








/*////////////////////////
//        SHOWROOM      //
////////////////////////*/

#showroomContainer {

}







/*////////////////////////
//       ADDRESS        //
////////////////////////*/

#addressContainer {

}

#addAddressContainer {
  margin: 0px 0px 100px 0px;
}

.inputLabels {
  margin-top: 28px;
}

.addressInputs {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

#addressButton {
  text-align: right;
  margin-top: 20px;
}







/*////////////////////////
//        ORDER        //
////////////////////////*/

#orderContainer {

}

.orderDataContainer {
  margin-bottom: 50px;
}

#iceRodCards {
  height: 300px;
  width: 210px;
  padding: 10px;
  margin-bottom: 45px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
}

#iceRodCards:hover {
  border: 3px solid grey;
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

.iceRodImages {
  height: 150px;
  width: 180px;
}








/*////////////////////////
//     SPECIFIC ROD     //
////////////////////////*/

#specificRodContainer {

}

.backArrow {
  text-align: right;
  height: 30px;
  width: 40px;
  border-radius: 15px;
  outline: none;
  margin: 60px 0px 0px 0px;
}

.backArrow:hover {
  height: 32px;
  width: 42px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

#specificIceRodDataContainer {

}

.imageBoarders {
  /*border: 1px solid black;*/
}

#specificRodImage {
  height: 200px;
  width: 300px;
}

#specificDescription {
  margin-bottom: 150px;
}

#buyButton {
  margin: 20px 0px 0px 0px;
  width: 90px;
  border-radius: 10px;
  outline: none;
  height: 35px;
}

#buyButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

#customOrderButton {
  margin: 20px 0px 0px 0px;
  width: 90px;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  height: 25px;
}

#customOrderButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}





/*////////////////////////
//     CUSTOM ORDER     //
////////////////////////*/

#customOrderContainer {
  text-align: center;
}

.customInputs {
  margin-bottom: 50px;
}

#customSubmitButton {
  margin: 20px 0px 0px 0px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  outline: none;
  font-size: 13px;
}

#customSubmitButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

#imageTableContainer {
  text-align: center;
}

.threadImage {
  height: 30px;
  border-radius: 1px;
}









/*////////////////////////
//        CONTACT       //
////////////////////////*/

#contactContainer {

}

.socialMediaIcons {
  height: 70px;
  width: 70px;
}

.socialMediaIcons:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #24ee08;
  border-radius: 10px;
}

.innerIcons {
  height: 50px;
  width: 50px;
}

.contactHeaders {
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 30px 0px;
}

#contactInfoContainer {
  text-align: center;
  margin: 0px 0px 50px 0px;
}


#mapDiv {
  text-align: center;
}

#googleMap {
  box-shadow: 10px 10px 10px grey;
}

#sendEmailContainer {
  text-align: left;
  display: inline-block;
  margin: 40px 0px 100px 0px;
}

.contactInputs {
  width: 100%;
  margin-bottom: 15px;
}

#emailButtonDiv {
  text-align: right;
  margin-top: 20px;
}

#emailButton {
  width: 90px;
  border-radius: 10px;
  outline: none;
}

#emailButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}







/*////////////////////////
//       WARRANTY       //
////////////////////////*/

#warrantyContainer {
  margin: 0px 0px 80px 0px;
  text-align: center;
}

.qaDivs {
  margin: 0px 0px 50px 0px;
}







/*////////////////////////
//        CAREER        //
////////////////////////*/

.boarder {

}

.careerAppHeaders {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.paragraph {
  font-size: 14px;
}

#careerTableContainer {
  margin-bottom: 100px;
  padding: 14px;
  border-radius: 15px;
  background-color: #d9bda0;
}

.careerInputDivs {
  margin: 14px 0px 14px 0px;
  text-align: left;
}

.careerInputs {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.careerTextArea {
  width: 100%;
}

#applicationButtonDiv {
  text-align: right;
}

#applicationSubmitButton {
  width: 90px;
  border-radius: 10px;
  outline: none;
}

#applicationSubmitButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}







/*////////////////////////
//     SHOPPING KART    //
////////////////////////*/

#cartContainer {

}

.cartItems {
  margin: 0px 0px 100px 0px;
}

.cartBorder {
  border: 2px solid black;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
}

#cartImage {
  height: 80px;
  width: 110px;
}

.cartTd {
  padding: 15px 0px 15px 0px;
  text-align: center;
}

#cartUpdateButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#cartUpdateButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

#cartDeleteButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#cartDeleteButton:hover {
  box-shadow: 3px 3px 3px #ff0000;
  cursor: pointer;
}

#cartCheckoutButtonDiv {
  margin: 35px 0px 0px 0px;
}

#cartCheckoutButton {
  border-radius: 10px;
  outline: none;
  width: 100px;
  margin: 0px 0px 0px 30px;
}

#cartCheckoutButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}








/*////////////////////////
//        FOOTER        //
////////////////////////*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #24ee08;
  background-color: #494949;
  text-align: center;
  padding: 5px 0px 4px 0px;
}

.footerButtons {
  color: #24ee08;
  font-size: 12px;
}

.footerIcons {
  height: 25px;
  width: 25px;
}














/*////////////////////////
//    ADMIN NAV BAR     //
////////////////////////*/

#adminNavBarContainer {
  display: inline-block;
  text-align: center;
  background-color: #a4a4a4;
  height: 30px;
  padding: 5px 0px 0px 0px;
}

.adminNavButtons {
  color: #000000;
}







/*////////////////////////
//   ADMIN_CUSTOMERS    //
////////////////////////*/

#adminCustomerContainer {

}

#filterDiv {
  text-align: right;
  margin: 0px 0px 20px 0px;
}

#customerFilterButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#customerFilterButton:hover {
  box-shadow: 3px 3px 3px #ffc001;
  cursor: pointer;
}

#customerTable {
  margin: 0px 0px 90px 0px;
}

#customerContainers {
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
}

#customerImage {
  height: 125px;
  width: 125px;
  border-radius: 60px;
  margin: 0px 0px 0px 23px;
}

#firebaseInfo {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 0px 5px 0px;
  background-color: #ffe186;
}

#customerInputContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.customerInputs {
  width: 100%;
  font-size: 20px;
}

.customerButtonsDiv {
  margin: 30px 0px 30px 0px;
}

#customerUpdateButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#customerUpdateButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}












/*////////////////////////
//   ADMIN_INVENTORY    //
////////////////////////*/

#adminInventoryContainer {

}

#modelFilter {
  text-align: right;
}

#inventoryItemTable {
  margin: 20px 0px 90px 0px;
}

#inventoryItemTableBorder {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
  box-shadow: 3px 3px 3px grey;
}

#inventoryItemTableBorder:hover {
  border: 3px solid grey;
  box-shadow: 3px 3px 3px #24ee08;
}

#inventoryImage {
  height: 170px;
  width: 220px;
}

.inventoryButtonsDiv {
  margin: 30px 0px 30px 0px;
  text-align: center;
}

#inventoryFilterButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#inventoryFilterButton:hover {
  box-shadow: 3px 3px 3px #ffc001;
  cursor: pointer;
}

#inventoryUpdateButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#inventoryUpdateButton:hover {
  box-shadow: 3px 3px 3px #24ee08;
  cursor: pointer;
}

#inventoryDeleteButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#inventoryDeleteButton:hover {
  box-shadow: 3px 3px 3px #ff0000;
  cursor: pointer;
}







/*////////////////////////
//     ADMIN_ORDER      //
////////////////////////*/

#adminOrderContainer {

}

#orderFilterDiv {
  text-align: right;
}


#orderFilterButton {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

#orderFilterButton:hover {
  box-shadow: 3px 3px 3px #ffc001;
  cursor: pointer;
}
