
/*////////////////////////
//        HEADER        //
////////////////////////*/

#headerContainer {
  text-align: center;
  background-color: grey;
  padding-top: 20px;
  height: 150px;
}








/*////////////////////////
//        NAV BAR       //
////////////////////////*/

#navBarContainer {
  display: inline-block;
  text-align: center;
  background-color: black;
  height: 40px;
  padding-top: 20px 0px 20px 0px;
}








/*////////////////////////
//         HOME         //
////////////////////////*/

#homeContainer {
  text-align: center;
}








/*////////////////////////
//        SHOWROOM      //
////////////////////////*/

#showroomContainer {
  text-align: center;
}






/*////////////////////////
//       ADDRESS        //
////////////////////////*/

#addressContainer {
  
}







/*////////////////////////
//         ORDER        //
////////////////////////*/

#orderContainer {
  text-align: center;
}









/*////////////////////////
//        CONTACT       //
////////////////////////*/

#contactContainer {
  text-align: center;
}






/*////////////////////////
//        FOOTER        //
////////////////////////*/

#footerContainer {
  text-align: center;
  background-color: #c3c3c3;
}
